{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        org.clojure/tools.trace {:mvn/version "0.7.11"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        manifold/manifold {:mvn/version "0.1.9"}}
 :aliases
 ;; using :deps in aliases will replace deps. Use :extra-deps if you need all
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}}
          :ns-default build}
  :build-params {:deps {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}}
                 :ns-default build-params}}}